<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title th:text="${case.title}"></title>
</head>
<body>

<div layout:fragment="main-content">
  <p th:text="'assign Client to  '+ ${case.title}"></p>

  <form action="#" th:action="@{/case/clientassign/{cid}(cid=${case.getId()})}" th:object="${case}"
        method="post">
    <select name="client">
      < th:each="ent : ${clients}"
              th:value="$client.getId()}"
              th:text="${client.getName() + ' ' +client.getSurname()}"></option>
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
</html>