<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Clients</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(clients)}">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="client : ${clients}">
        <td th:text="${client.name}"></td>
        <td th:text="${client.surname}"></td>
        <td th:text="${client.email}"></td>
        <td>
          <a  class="btn btn-outline-light btn-sm" th:href="@{'/client/' + ${client.id}}">Details</a>
          <a  class="btn btn-outline-info btn-sm" th:href="@{'/client/profile/' + ${client.id}}">Profile</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(clients)}">
    No Clients found!
  </div>
  <a href="/client/new" class="btn btn-primary" role="button">Create new Client</a>
</div>
</body>
</html>